.item-info-card {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 2em;
}

.item-image {
    background-color: #c4c4c4;
    width: 500px;
    height: 500px;
    margin: 0px;
}

.item-row {
    display: flex;
    margin: 1em 0em;
}

.item-ingredients {
    padding-left: 2em;
    white-space: pre-wrap;
}

.item-back {
    float: right;
}

.item-top-bar {
    display: block;
}

.item-title {
    width: 50%
}

#floatingTextarea {
    height: 100px;
    resize: none;
}

.form-control {
    margin: 5px;
}

hr.cmtSep {
    border: 1px solid #000000;
}

.btn-outline-primary.custom-btn {
	border-color: #6d76f7;
    color: #6d76f7;
}

.btn-outline-primary.custom-btn:hover {
	border-color: #6d76f7;
    background-color: #6d76f7;
}