.item-info-card {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 2em 4em;
}

.item-image {
    background-color: #c4c4c4;
    min-width: 500px;
    height: 500px;
    margin: 0px;
}

.item-row {
    display: flex;
    margin: 1em 0em;
}

.item-ingredients {
    padding-left: 2em;
}

.item-ingredient-list {
    display: flex;
    flex-wrap: wrap;
}

.item-button {
    padding: 0.5em 1em;
    background-color: #c4c4c4;
    color: #000;
    border-radius: 10px; 
}

.item-top-bar {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
}

.item-title {
    width: 50%
}

.item-ingredient-highlight {
    background-color: #c4c4c4;
    margin-right: 1em;
    padding: 0.5em 1em;
    border-radius: 10px;
}

