.item-card {
  background-color: #e2e0e0;
  display: block;
  width: 220px;
  height: 270px;
  border-radius: 10px;
  text-align: center;
  margin: 1em;
  color: #000;
}

.item-card-image {
  margin-top: 35px;
  background-color: #c4c4c4;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.item-name {
  margin: 1em auto;
  text-align: center;
}
